@import url('https://fonts.googleapis.com/css?family=Lobster|Oswald');


.title-container {
    width: 100vw;
    height:100vh;
    background-image: linear-gradient(rgba(60, 114, 145, 0.75), rgba(60, 151, 211, 0.5)),url(https://images.unsplash.com/photo-1521540124319-66c09f0d5999?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1583&q=80);
    background-position: top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-container > div{
    margin: 13% auto;
}
.title-container h1 {
    font-size: 85px;
    font-family: Lobster;
    color: rgb(255, 212, 70);
    text-shadow: 3px 3px 2px rgb(255, 107, 87);
    margin: 0;
}

.title-container h3{
    font-size: 28px;
    font-family: Oswald;
    color: whitesmoke;
    /* text-shadow: 2.5px 2.5px rgb(47, 76, 206);  */
    text-shadow: 3px 3px 6px black;
}

.title-container button{
    background: rgb(255, 212, 70);
    color: white;
    text-shadow: 1px 1px 5px rgb(122, 122, 122);
    font-size: 20px;
    font-weight: bolder;
    height: 74px;
    width: 225px;
    border-radius: 15px;
    border-style: none;
    margin: 50px 0 0 0;
    transition: box-shadow .3s;
}

.title-container button:hover {
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.4); 
}